.container {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
    background-color: #e0e0e0; 
}

.container h1 {
    font-size: 60px;
    grid-column-start: 4;
    grid-column-end: 10;
}

.container p {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 20;
    font-size: 25px;
}

.classImg {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 20;
}

.image {
    max-width: 100%;
    height: 350px;
    width: 350px;
}

.arrowContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
    display: inline-block;
    pointer-events: none;
}

.arrowLink {
    font-size: 50px;
    text-decoration: none;
    color: black;
    display: inline-block;
    animation: blink 2s infinite;
    pointer-events: auto;
}

@keyframes blink {
    0%, 49.9%, 100% {
        opacity: 1;
    }
    50%, 99.9% {
        opacity: 0;
    }
}
